<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight Tracker</title>

    <style>
        table {
            border-collapse: collapse;
            border: 2px solid #ccc;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .center {
            text-align: center;
            font-style: italic;
        }

        #graphdiv {
            width: 98%;
            height: 400px;
            margin-bottom: 10px;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="dygraph.css"/>
    <link rel="stylesheet" type="text/css" href="rtgraph.css"/>

    <script type="text/javascript" src="dygraph.min.js"></script>
    <script type="text/javascript" src="msgpack.min.js"></script>
    <script type="text/javascript" src="rtgraph.js"></script>

    <script type="text/javascript">
        Dygraph.onDOMready(function onDOMready() {
            // let data = "Date,Temperature\n" +
            //     "2008-05-07,75\n" +
            //     "2008-05-08,70\n" +
            //     "2008-05-09,80\n";


            const urlParams = new URLSearchParams(window.location.search);
            const after = urlParams.get('after') || '2023-06-10';

            let data = `data.csv?after=${after}`

            const t1 = new Date();
            const t0 = new Date(t1);
            t0.setMonth(t0.getMonth() - 3);
            t1.setDate(t0.getDate() + 1); // maybe better to use some padding options here instead

            window.g = new Dygraph(
                // containing div
                document.getElementById("graphdiv"),

                // CSV or path to a CSV file.
                data,
                {
                    // dateWindow: [t0, t1],
                    title: "Weight",
                    ylabel: "Weight (kg)",
                    strokeWidth: 3.0
                }
            );
        });
    </script>

    <script type="text/javascript">
        Dygraph.onDOMready(function onDOMready() {
            const second = 1000;
            const minute = 60 * second;
            const hour = 60 * minute;
            const day = 24 * hour;

            const urlParams = new URLSearchParams(window.location.search);
            const after = urlParams.get('after') || '2023-06-10';
            const t1 = new Date();
            const t0 = new Date(after);

            const windowSize = t1.getTime() - t0.getTime();

            new Graph(document.getElementById("graphdiv1"), {
                seriesNames: ["weight"],
                title: "Weight",
                height: 400,
                windowSize: windowSize,
                labels: ["x", "Y1"],
                maxGapMs: 7.5 * day,
            });

            new Graph(document.getElementById("graphdiv2"), {
                seriesNames: ["weight_avg"],
                title: "Weight (Rolling Avg)",
                height: 400,
                windowSize: windowSize,
                labels: ["x", "Y1"],
                maxGapMs: 7.5 * day,
            });
        });
    </script>
</head>
<body>
<form action="{{.action}}" method="post">
    <div>
        <input type="hidden" name="id" value="{{.id}}"/>
        <label>
            weight
            <input name="weight"/>
        </label>
    </div>

    <div>
        <input type="radio" id="kg" name="unit" value="kg" checked="checked">
        <label for="kg">kg</label><br>

        <input type="radio" id="lbs" name="unit" value="lbs">
        <label for="lbs">lbs</label><br>
    </div>
</form>

<!--<div>-->
<!--    <img src="weight.svg"/>-->
<!--</div>-->

<div id="graphdiv" class="wide"></div>
<div id="graphdiv1" class="wide"></div>
<div id="graphdiv2" class="wide"></div>

<div>
    (<a href="?after=2011-01-01">view all</a>)
</div>

<table>
    <tr>
        <th>Time</th>
        <th>Day</th>
        <th>Weight</th>
        <th>Delta</th>

    </tr>
    {{$data := .data}}
    {{range $i, $d := .data}}
    <tr>
        <td>{{Localtime $d}}</td>
        <td>{{DateOfWeek $d}}</td>
        <td>{{FmtWeight $d.Weight}}</td>
        <td>{{Delta $data $i}}</td>
    </tr>
    {{$missing := DaysMissing $data $i}}
    {{if $missing}}
    <tr>
        <td class="center" colspan="4">{{$missing}}</td>
    </tr>
    {{end}}
    {{end}}
</table>


<hr>
{{.date}}

</body>
</html>